.nav .wrap .menu-wrap .firstlocation{
    position: absolute;
    left: -150px;
    height: 36px;
    line-height: 36px;
    width: 110px;
}
.nav .wrap .menu-wrap .firstlocation a{
    color: #fff;
}
.menu-wrap .firstlocation a:hover{
    color: #d7f3ff;
}
.footer{
    text-align: center;
    font-size:12px;
    color: #666;
    line-height:70px;
}
.display_block{
    display: block;
}
.display_none{
    display: none;
}



.container .information{
    width: 1000px;
    height:240px;
    background: #f7f7f7;
    margin: 30px auto;
}
.container .information .caption{
    height:40px;
    line-height:40px;
    margin: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
}
.container .information .caption h3{
    display: inline-block;
}
.container .information .caption .concent{
    color: #f7b52c;
    font-size:12px;
}
.container .information .caption .float_right{
    float: right;
    font-size: 12px;
}
.container .information .caption .float_right span:nth-child(odd){
    color: #1fa4f0;
}
.container .information .caption .float_right span:nth-child(even){
    padding-right:15px;
}


.container .content{
    width: 1000px;
    height: 200px;
    position: relative;
}
.container .content .allInformation{
    position: absolute;
    left: 230px;
    width:500px;
    color: #868686;
    font-size:14px;
    padding-top: 30px;
    line-height:25px;
}
.container .content .allInformation span{
    display: inline-block;
    height:20px;
    position: relative;
    top: 4px;
    width:25px;
    background: url("../img/icon-tel.png") no-repeat;
}
.container .content .allInformation p:nth-child(1) span{
    background-position: 0px -16px;
}
.container .content .allInformation p:nth-child(2) span{
    background-position: 0px -34px;
}
.container .content .allInformation p:nth-child(3) span{
    background-position: 0px 4px;
}
.container .content .allInformation p:nth-child(4) span{
    background-position: 0px -53px;
}
.container .content img{
    width: 190px;
    height:170px;
    position: absolute;
}
.container .content img.hospital-1{
    left:20px;
    top: 15px;
}
.container .content img.map{
    right:20px;
    top:15px;
}

.container .table{
    width:1000px;
    height:600px;
    margin: 20px auto;
}
.container .table .caption{
    border-bottom: 3px solid #00b3ea;
    color: #00b3ea;
    margin-bottom:20px;
}
.container .table .caption span{
    display: inline-block;
    height:30px;
    line-height:30px;
    padding:0 20px;
    cursor: pointer;
    -webkit-border-radius: 5px 5px 0px 0px ;
    -moz-border-radius: 5px 5px 0px 0px ;
    border-radius: 5px 5px 0px 0px ;
}
.container .table .caption span.active{
    color: #ffffff;
    background: #00b3ea;
}
.container .table .information_table{
    position: relative;
    width: 1000px;
    height:530px;
    overflow: scroll;
}
.container .table .information_table .register_table{
    width: 690px;
    border: 1px solid #d7f3ff;
    border-collapse: collapse;
    vertical-align: top;
}
.container .table .information_table .register_table caption{
    background: #cccccc;
    text-align: left;
    font-size:16px;
    height:40px;
    line-height:40px;
    padding-left:20px;
}
.container .table .information_table .register_table th{
    background: #d7f3ff;
    width: 120px;
}
.container .table .information_table .register_table td{
    width: 120px;
    height: 30px;
    line-height:30px;
    text-align: center;
}
.container .table .information_table .register_table td a{
    color: #888888;
}
.container .table .information_table .register_menu{
    position: absolute;
    width: 250px;
    right:0px;
    top: 0px;
    border: 1px solid #d7f3ff;
}
.container .table .information_table .register_menu h3{
    height:40px;
    line-height:40px;
    background: #cccccc;
    font-size: 16px;
    color: #868686;
    padding-left: 20px;
}
.container .table .information_table .register_menu h3 span{
    color: #00b3ea;
    font-size:12px;
}
.container .table .information_table .register_menu .register_message{
    overflow: scroll;
    height: 335px;
    padding: 0 10px;
    font-size:13px;
    margin-top: 20px;
    line-height:20px;
}
.container .table .information_table .register_menu .register_message p{
    display: block;
    padding-left:70px;
    position: relative;
}
.container .table .information_table .register_menu .register_message p span{
    position: absolute;
    left:0px;
    color: #000;
    font-size:14px;
}

.information_table .rule_wrap,.introduce_wrap,.stopMessage_wrap,.cancel_wrap{
    overflow-y: scroll;
    padding: 20px 10px;
    color: #868686;
    line-height: 22px;
    font-size:14px;
}
.information_table .rule_wrap,.introduce_wrap,.stopMessage_wrap{
    overflow-y: scroll;
}

.information_table .rule_wrap p,.introduce_wrap p{
    text-indent: 2ch;
    display: block;
}
.information_table .rule_wrap h3,.introduce_wrap h3{
    text-indent: 2ch;
    line-height:30px;
}
.information_table .rule_wrap h2,.introduce_wrap h2{
    text-align: center;
    line-height: 40px;
}
.information_table .stopMessage_wrap table{
    margin:0 auto;
    border: 1px solid #cccccc;
    width: 800px;
    border-collapse: collapse;;
}
.information_table .stopMessage_wrap table caption{
    height:40px;
    line-height:40px;
    font-size: 16px;
    color: #000;
}
.information_table .stopMessage_wrap table td{
    border: 1px solid #cccccc;
    text-align: center;
}

.information_table .cancel_wrap p{
    margin-top: 200px;
    width: 1000px;
    text-align: center;
    color: #1fa4f0;
    font-size:16px;
}
.information_table .cancel_wrap input{
    height:20px;
    width:150px;
}
.information_table .cancel_wrap button{
    color: #fff;
    outline: none;
    width: 70px;
    height:25px;
    background: #1fa4f0;
}




