*{
	margin : 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.clearfix:after{
    content: '';
    height: 0px;
    line-height: 0px;
    display: block;
    clear: both;
    zoom:1;
}
.top{
	height: 30px;
	background: #f5f5f5; 
}
.wrap{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.header{
	height: 92px;
}
.nav{
	height: 36px;
	background: #60bff2
}
.banner{
	width: 802px;
	margin: 0 auto;
	height: 414px;
	padding: 9px 0 0 198px;
}
.banner-slider{
	width: 544px;
	float: left;
	height: 414px;
	background: #8edff3;
	position: relative;
	overflow: hidden;
}
.banner-search{
	float: right;
	width: 250px;
	height: 255px;
	background: #fafafa;
}
.banner-help{
	float: right;
	width: 250px;
	height: 146px;
	background: #fafafa;
	margin-top: 12px;
}
.content{
	padding : 10px 0 38px 0;
}
.content-tab{
   float: left;
   width: 742px;
   height: 490px;
   background: #eee;
}
.content-news,
.content-close{
	float: right;
	width: 248px;
	height: 236px;
	border : 1px solid #ccc; 
}
.content-close{
	margin-top: 12px;
	border-color:red;
}
.footer{
	height: 70px;
	padding: 25px 0;
	background: #eceef2;
}



















